.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    width: 95%;
    padding: 5px;
    border-bottom: 3PX solid black;
    border-radius: 10px;
}

.container h4 {
    width: 70px;
    text-align: center;
    cursor: copy;

}

.container svg {
    font-size: 30px;
    transition: all .2s ease;
    cursor: pointer;
}

.noneSave {
    color: #fff;
}

.save {
    color: orange;
}

@media screen and (max-width: 576px) {
    .container h4 {
        font-size: 12px;    
        width: 50px;
    }
    .container svg {
        font-size: 25px;
    }
}
