.recently {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background: #ddcad7;
    border: 2px solid black;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background: #fff;
    color: black;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

h4 {
    padding: 5px 10px;
    text-align: center;
    margin-top: 10px;
    cursor: copy;
    background-color: #fff;
    color: black;
    border-radius: 5px;
}

@media screen and (max-width: 576px) {
    .recently {
        width: 220px;
    }
    
    button {
        padding: 5px 10px;
        font-size: 12px;
    }

    h4 {
        font-size: 10px;
    }
}

@media screen and (max-width: 400px) {
    
}