nav {
    height: 50px;
    background: #eaeded;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    transition: all .3s ease;
}

nav a:hover {
    color: rgb(205, 78, 78);
}

@media screen and (max-width: 400px) {
    nav {
        height: 35px;
    }
    nav a {
        font-size: 15px;
    }
}